@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito-Regular.ttf) format("ttf"),
    url(./fonts/Nunito-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito-Italic.ttf) format("ttf"),
    url(./fonts/Nunito-Italic.woff2) format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito-Bold.ttf) format("ttf"),
    url(./fonts/Nunito-Bold.woff2) format("woff2");
  font-weight: 700;
}
body {
  background: rgb(117, 174, 195);
}
main {
  background: rgb(117, 174, 195);
  background: linear-gradient(
    0deg,
    rgba(117, 174, 195, 1) 0%,
    rgba(114, 173, 193, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  );
}
.selector__wrapper {
  font-family: "Nunito", sans-serif;
  margin: 0px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.selector__top {
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.349);
  font-size: 30px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid rgba(169, 169, 169, 0.514);
}
.selector__forms {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.selector__forms__item {
  padding: 40px;
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  line-height: 40px;
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 100%;
  border: 2px solid darkgray;
  box-shadow: -27px -28px 60px 3px rgba(54, 54, 54, 0.74) inset;
  -webkit-box-shadow: -27px -28px 60px 3px rgba(54, 54, 54, 0.74) inset;
}
.selector__forms__item a {
  color: black;
  text-decoration: none;
}
.selector__forms__item:hover {
  transform: scale(1.2);
  transition: 1s;
}
