main {
  background: black;
}

.form1__wrapper {
  margin: 0 auto;
  padding: 80px 119px 130px 44px;
  max-width: 1427px;
  max-height: 1010px;
  background: #282828;
  border-radius: 50px;
  display: flex;
  gap: 15px;
}

.form1__screens {
  color: #252525;
  display: flex;
  gap: 58px;
}
.form1__intro {
  color: white;
  font-family: "Montagu Slab", serif;
  font-style: normal;
  font-weight: 400;
  align-self: center;
}
.form1__intro h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
}
.form1__intro h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
}
.form1__intro p {
  font-size: 24px;
  line-height: 31px;
}

.screen__wrapper {
  max-width: 360px;
  max-height: 800px;
  background: #fcfcfc;
  border-radius: 40px;
}

.screen__wrapper.-left {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  padding: 189px 16px 72px 20px;
}
.screen__wallpaper.-left {
  margin-bottom: 80px;
}
.screen__title.-left {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #252525;
}
.screen__subtitle.-left {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #252525;
}
.screen__bottom {
  padding: 0 12px 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  padding: 15px 15px;
  font-size: 20px;
  font-weight: 900;
  line-height: 12px;
  color: white;
  background-color: black;
  border-radius: 100%;
}
.screen__wrapper.-right {
  padding: 42px 30px 35px;
}
.screen__background {
  margin-bottom: 34px;
  padding: 117px 40px 10px 37px;
  background-image: url(./assets1/wpright.png);
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: contain;
}
.screen__title.-right {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.screen__subtitle.-right {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.login__form {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.login__form input {
  background-color: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(196, 196, 196, 0.2);
  border-radius: 10px;
  min-width: 300px;
  padding: 16px 20px 16px 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  display: inline-block;
}
.login__name {
  background-image: url(./assets1/name.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}
.login__email {
  background-image: url(./assets1/email.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}
.login__phone {
  background-image: url(./assets1/phone.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}
.login__password {
  background-image: url(./assets1/password.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}
.login__agreement {
  margin-bottom: 60px;
  font-family: "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
}
.check__box {
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}
.check__input {
  appearance: none;
}
.check__input:checked + .check__box {
  color: black;
}
.login__agreement a {
  text-decoration: none;
  color: #ffc33e;
}
.login__forget {
  margin-bottom: 64px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
}
.screen__bottom.-right {
  margin-bottom: 21px;
}

.login__member {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.login__member a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffc33e;
  text-decoration: none;
}
