$main-color: #ffffff;

@mixin button {
  background-color: #121212;
  border-radius: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $main-color;
}
@mixin common {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #989898;
}

html {
  font-family: "Inter";
  font-style: normal;
}

main {
  background-color: #1e1e1e;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding: 20px;

  section {
    border-radius: 32px;
    // background-color: #f3f3f3;
    width: 375px;
    height: 812px;
  }

  .start {
    padding: 73px 30px 40px;
    background-color: #1e1e1e;
    background-image: url(./assets3/puppy.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .intro {
      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: $main-color;
        margin-bottom: 2px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #f2f2f2;
      }
    }
    button {
      @include button;
      width: 247px;
      height: 47px;
    }
  }
  .account {
    background-color: #f3f3f3;
    background-image: url(./assets3/paw-bottom.svg), url(./assets3/paw-top.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    padding: 101px 28px 69px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 800;
      font-size: 34px;
      line-height: 41px;
      color: #121212;
      margin-bottom: 35px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-bottom: 35px;

      input {
        display: block;
        padding: 10px 17px;
        background: #dedede;
        border-radius: 10px;
        width: 318px;
        height: 46px;
        @include common;
        align-self: stretch;
        border-color: rgba(0, 0, 0, 0);
      }
      .eye {
        position: relative;
      }
      img {
        position: absolute;
        bottom: 11px;
        right: 17px;
      }
    }
    .policy {
      @include common;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      gap: 10px;
      margin-bottom: 35px;

      &__checkbox {
        appearance: none;
      }
      &__checked {
        display: inline-block;
        width: 21px;
        height: 21px;
        background: #dedede;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0);
        transform: translateY(-15px);
      }
      &__checkbox:checked + .policy__checked {
        color: rgba(0, 0, 0, 1);
      }

      a {
        color: #272730;
        text-decoration: none;
      }
    }
    .signup {
      @include common;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 35px;

      button {
        @include button;
        width: 229px;
        height: 47px;
        margin-bottom: 23px;
      }

      a {
        color: #272730;
        text-decoration: none;
      }
    }
    .social {
      h3 {
        @include common;
        margin-bottom: 22px;
        text-align: center;
      }
      div {
        display: flex;
        gap: 30px;
        a {
          background-color: #121212;
          padding: 12px 20px;
          border-radius: 6px;
        }
      }
    }
  }
}
